.venv/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.vscode/
.idea/

# Dataset
data/raw/*
data/processed/*
data/splits/*

# Training checkpoints
artifacts/last_checkpoint.pt

# SentencePiece intermediate training files
*_training.txt
artifacts/**/src_training.txt
artifacts/**/tgt_training.txt

# Logs
*.log